table.searchResults, .searchResults th, .searchResults  td{
    border: 1px solid black;
    border-collapse: collapse;
  }

  table.searchResults {
      margin-left: auto;
      margin-right: auto;
  }